html {height:100%;}
/* fix scrollbar to always scroll */
html {overflow-Y: scroll; }
body {
  background-color:#fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size:12px;
  color: #666;
  margin:15px;
  padding:0;
  text-align: left;
}

p {margin-bottom: 6px;}
img {border:none;}
h1 {font-size:22px; font-weight:normal; color:#000099; padding:10px 0 0px 0;}
h2 {font-size:18px; font-weight:normal; color:#000099; padding:10px 0 0px 0;}
h3 {font-size:14px; font-weight:bold;   color:#000099; padding:10px 0 0px 0;}
ul {list-style-position:outside; margin-left:20px;}
ol {list-style-position:outside; margin-left:20px;}
strong {font-weight:bold; color:#009; }

#menu {color: #fff; }
#menu a {color: #fff; }
#footer {margin:0 auto; padding-top:1px; text-align:center; background:url(bg_footer.gif) no-repeat top center;}
    #footer p {line-height:18px; font-size:11px;}
    #footer p a {color: #666;}
