*.obj
*.o
*.d
*.lib
*.a
*.elf
*.err
*.hex
*.exe
*.EXE
*.map
*.dep
*.pdf
*.PDF
*.Hbp
*.nav
*.tps
*.tws
*.tmp
*.log
*.chm
*.zip
*.pdb
*.ncb
*.suo
*.sdf
*.chw
*.sfr
*.ewt
*.user
*.avrsuo
*.Debug
*.Release
*.bak
JLink*.*
version-*

html/
cert-pack/
test_priv/
dbg/
rel/
spy/
build/
build_rel/
build_spy/
settings/
.settings/
targetConfigs/

Debug/
Release/
Spy/
QSpy/

lib/
obj/
output/
