*.obj
*.o
*.d
*.lib
*.a
*.elf
*.err
*.hex
*.exe
*.EXE
*.map
*.ewd
*.dep
*.pdf
*.PDF
*.Hbp
*.nav
*.tps
*.tws
*.tmp
*.log
*.chm
*.zip
*.ncb
*.suo
*.chw
*.sfr
*.user
*.avrsuo
*.Debug
*.Release
lint*.out

dbg/
rel/
spy/
settings/

Debug/
Release/
Spy/

*.CS_/

lib/
obj/
output/

doxygen/html/
lint/*.txt
lint/MISRA_Exemplar_Suite_test/*.txt