# QPC Zephyr module
# SPDX-License-Identifier: GPL-3.0-or-later OR LicenseRef-QL-commercial

menuconfig QPC
    bool "QPC"
    default n
    help
        Enables the QPC Module

if QPC

config QSPY
    bool "QSPY Tracing"
    default n
    help
      Enables the QSPY Tracing for QP

module = QPC
module-str = QPC

endif
